.task-section {
  background: white;
  max-width: 500px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 12px;
}

input {
  padding: 12px;
  width: 60%;
  margin-right: 10px;
}

button {
  padding: 12px 20px;
  cursor: pointer;
}

li {
  margin: 10px;
  text-align: left;
}